<!DOCTYPE html>
<html lang="en_GB">
    {{>head}}
  <body>
    {{>nav}}

    {{{body}}}

    {{>footer}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/build.js"></script>
  </body>
</html>
